.footer {
  background-color: $main-color;
  height: 90px;

  .wrapper {
    height: 100%;
    @include flex($justify-content: space-between);
  }
}

.github-links {
  @include flex($justify-content: center);
  gap: 35px;
}

.creation-year {
  @include font($font-size: 2.4rem, $font-weight: 500, $color: white);
}