.header {
  height: 80px;
  background-color: $main-color;

  .wrapper {
    height: 100%;
    @include flex($justify-content: space-between);
  }
}

.logo {
  width: 50px;
  height: 50px;
}

.login {
  background-color: $main-color;
}

.login__img{
  width: 50px;
  height: 50px;
}