.navbar {
  @include flex();
  height: 100%;
}

.nav {
  @include flex();
  height: 100%;
}

.nav__item {
  height: 100%;
  display: flex;
  align-content: center;
  padding: 0 15px;
}

.nav__link {
  display: block;
  @include font($font-size: 2.0rem, $color: white);
  padding-top: 18px;
  transition: ease-in-out 0.3s;
}

.submenu {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 10;
}

.link-to-games{
  position: relative;
  cursor: pointer;
}

.link-to-games__content {
  padding-left: 5px;
  padding-right: 5px;
}

.link-to-games:hover .submenu {
  display: block;
}
.submenu__item a{
  transition: ease-in-out 0.3s;
  display: block;
  font-size: 1.9rem;
  color: black;
  height: 100%;
  border: 2px solid $main-color;

  &:hover{
    background-color: $main-color;
    color: white;
  }
}