.navbar {
  @include flex();
  height: 100%;
}

.nav {
  @include flex();
  height: 100%;
}

.nav__item {
  height: 100%;
  display: flex;
  align-content: center;
  padding: 0 15px;
}

.nav__link {
  display: block;
  @include font($font-size: 2.0rem, $color: white);
  padding-top: 18px;
  transition: ease-in-out 0.3s;
}

.submenu {
    height: 0;
    position: absolute;
    top: 70px;
    z-index: 10;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.link-to-games{
  position: relative;
  cursor: pointer;
}

.link-to-games__content {
  padding-left: 5px;
  padding-right: 5px;
}

.link-to-games:hover .submenu {
  height: 80px;
  transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.submenu__item a{
  transition: ease-in-out 0.3s;
  display: block;
  font-size: 1.9rem;
  color: white;
  background-color: #A04955;
  border: 2px solid $main-color;

  &:hover{
    background-color: $main-color;
    color: black;
    background-color: #F3F3F3;
  }
}

.submenu__item {
  text-align: center;
}