.btn__pag {
  @include button(80px, 60px);
  @include font ($main-font, 2.8rem);
  border-radius: 10px;
  border: none;
  vertical-align: top;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
}

.btn__group {
  border: 0;
  padding: 0;
  align-self: flex-start;
}

.btn__choose {
  background: linear-gradient(145deg, #63b3e6, #76d5ff);
  font-size: 3.5rem;
  -webkit-box-shadow: inset 15px 15px 20px -20px rgba(0,0,0,.5);
  -moz-box-shadow: inset 15px 15px 20px -20px rgba(0,0,0,.5);
  box-shadow: inset 15px 15px 20px -20px rgba(0,0,0,.5);
}

.btn__pag:hover,
.btn__pag:focus,
.btn__choose:hover,
.btn__choose:focus {
  border: 3px solid rgba(46, 74, 112, .75);
}
