$main-color: #A04955;
$nav-color: #da98a1;
$title-color: #333333;
$font-color: #000000;
$light-font-color: #FFFFFF;
$light-section-background: #F3F3F3;

$title-font-size: 65px;
$subtitle-font-size: 35px;
$main-font-size: 24px;

$title-font: 'Oswald', sans-serif;
$main-font: 'Open Sans', sans-serif;

$wrapper-width: 1450px;
