.auth-wrapper {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}